$color_1: #FFAE00;
$color_2: #DAE0E5;
$color_3: #fff;
$color_4: #171F26;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #FFF45F;
$background-color_2: red;
$background-color_3: #FFAE00;

/* HEADER START */
/* NAVBAR START */
/* NAVBAR END */
/* HEADER END */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
}
body {
	width: 100vw;
	font-family: $font-family_1;
}
a {
	text-decoration: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
.container {
	width: 95%;
	margin: 0 auto;
}
header {
	.container {
		padding: 1.6rem 0;
		.header {
			display: flex;
			align-items: center;
		}
	}
}
.header {
	.logo {
		h1 {
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 900;
			color: $color_1;
			padding-right: 4rem;
		}
	}
	.language {
		display: flex;
		align-items: center;
		margin-right: 4.3rem;
		a {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.6rem;
			cursor: pointer;
		}
	}
}
.ru {
	color: $color_2;
	padding-right: 1rem;
	border-right: .1rem solid #DAE0E5;
}
.uz {
	color: $color_1;
	padding-left: 1rem;
}
.search {
	width: 60rem;
	display: flex;
	align-items: center;
	input[type="text"] {
		padding: 1.3rem 1.5rem;
		border-radius: .5rem 0 0 .5rem;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.4rem;
		width: 90%;
		border: .1rem solid #DAE0E5;
	}
	input[type="submit"] {
		padding: 1.5rem 1.5rem;
		border-radius: 0 .5rem .5rem 0;
		border: .1rem solid #DAE0E5;
		cursor: pointer;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.4rem;
	}
}
.heart-cart-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 2rem;
	.name {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.4rem;
		padding-bottom: .5rem;
	}
	.type {
		font-size: 1.2rem;
		font-weight: 400;
		color: $color_1;
	}
}
.heart {
	display: flex;
	align-items: center;
	cursor: pointer;
	.desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	i {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		font-size: 1.6rem;
		border-radius: 50%;
		padding: 2rem;
		background-color: $background-color_1;
		margin-right: 1rem;
		&::after {
			position: absolute;
			content: "";
			width: 1rem;
			height: 1rem;
			background-color: $background-color_2;
			border-radius: 50%;
			top: 0;
			right: 0;
		}
	}
}
.cart {
	display: flex;
	align-items: center;
	cursor: pointer;
	.desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	i {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		font-size: 1.6rem;
		border-radius: 50%;
		padding: 2rem;
		background-color: $background-color_1;
		margin-right: 1rem;
		&::after {
			position: absolute;
			content: "";
			width: 1rem;
			height: 1rem;
			background-color: $background-color_2;
			border-radius: 50%;
			top: 0;
			right: 0;
		}
	}
}
.profile {
	display: flex;
	align-items: center;
	cursor: pointer;
	.desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	i {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		font-size: 1.6rem;
		border-radius: 50%;
		padding: 2rem;
		background-color: $background-color_1;
		margin-right: 1rem;
		background-color: $background-color_3;
		color: $color_3;
		&::after {
			position: absolute;
			content: "";
			width: 1rem;
			height: 1rem;
			background-color: $background-color_2;
			border-radius: 50%;
			top: 0;
			right: 0;
		}
	}
}
.navbar {
	display: flex;
	align-items: center;
	padding: 3rem 0;
	.catalog {
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		gap: 1rem;
		margin-right: 2rem;
		cursor: pointer;
	}
	.nav {
		display: flex;
		align-items: center;
		gap: 2rem;
		.nav-item {
			.nav-link {
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1.4rem;
				color: $color_4;
				transition: font-weight .3s ease-in-out;
				&:hover {
					font-weight: 500;
					transition: font-weight .3s ease-in-out;
				}
			}
		}
	}
}
