
<header>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h1>zaytun</h1>
      </div>
      <div class="language"><a class="ru">&Rcy;&ucy;&scy;</a><a class="uz">O&apos;zb</a></div>
      <div class="search">
        <input type="text" placeholder="Что вас интересует?"/>
        <input type="submit" value="Найти"/>
      </div>
      <div class="heart-cart-profile">
        <div class="heart"><i class="fa-regular fa-heart"></i>
          <div class="desc"><span class="name">&Icy;&zcy;&bcy;&rcy;&acy;&ncy;&ncy;&ocy;&iecy;</span><span class="type">2 &tcy;&ocy;&vcy;&acy;&rcy;&acy;</span></div>
          <div class="cart"></div><i class="fa-solid fa-cart-shopping"></i>
          <div class="desc"><span class="name">&Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;</span><span class="type">12 &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;</span></div>
          <div class="profile"></div><i class="fa-regular fa-user"></i>
          <div class="desc"><span class="name">&Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;</span><span class="type">&Mcy;&ocy;&jcy; &pcy;&rcy;&ocy;&fcy;&icy;&lcy;&softcy;</span></div>
        </div>
      </div>
    </div>
    <!-- NAVBAR START-->
    <nav class="navbar"></nav>
    <div class="catalog"><i class="fa-solid fa-bars"></i><span>&Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;</span></div>
    <ol class="nav">
      <li class="nav-item"><a class="nav-link" href="#">&Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &icy; &ocy;&bcy;&ucy;&vcy;&softcy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Dcy;&lcy;&yacy; &dcy;&ocy;&mcy;&acy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Scy;&pcy;&ocy;&rcy;&tcy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Dcy;&iecy;&tcy;&icy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Kcy;&ncy;&icy;&gcy;&icy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Bcy;&rcy;&iecy;&ncy;&dcy;&ycy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Zcy;&ocy;&ocy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy;&ycy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&softcy;&iecy;</a></li>
      <li class="nav-item"><a class="nav-link" href="#">&Rcy;&iecy;&mcy;&ocy;&ncy;&tcy;</a></li>
    </ol>
  </div>
</header>