header
    .container
        .header
            .logo
                h1 zaytun
            .language
                a.ru &Rcy;&ucy;&scy;
                a.uz O&apos;zb
            .search
                input(type='text' placeholder='Что вас интересует?')
                input(type='submit' value='Найти')
            .heart-cart-profile
                .heart
                    i.fa-regular.fa-heart
                    .desc
                        span.name &Icy;&zcy;&bcy;&rcy;&acy;&ncy;&ncy;&ocy;&iecy;
                        span.type 2 &tcy;&ocy;&vcy;&acy;&rcy;&acy;
                    .cart
                    i.fa-solid.fa-cart-shopping
                    .desc
                        span.name &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
                        span.type 12 &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
                    .profile
                    i.fa-regular.fa-user
                    .desc
                        span.name &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;
                        span.type &Mcy;&ocy;&jcy; &pcy;&rcy;&ocy;&fcy;&icy;&lcy;&softcy;
        // NAVBAR START
        nav.navbar
        .catalog
            i.fa-solid.fa-bars
            span &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
        ol.nav
            li.nav-item
                a.nav-link(href='#') &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
            li.nav-item
                a.nav-link(href='#') &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &icy; &ocy;&bcy;&ucy;&vcy;&softcy;
            li.nav-item
                a.nav-link(href='#') &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy;
            li.nav-item
                a.nav-link(href='#') &Dcy;&lcy;&yacy; &dcy;&ocy;&mcy;&acy;
            li.nav-item
                a.nav-link(href='#') &Scy;&pcy;&ocy;&rcy;&tcy;
            li.nav-item
                a.nav-link(href='#') &Dcy;&iecy;&tcy;&icy;
            li.nav-item
                a.nav-link(href='#') &Kcy;&ncy;&icy;&gcy;&icy;
            li.nav-item
                a.nav-link(href='#') &Bcy;&rcy;&iecy;&ncy;&dcy;&ycy;
            li.nav-item
                a.nav-link(href='#') &Zcy;&ocy;&ocy;
            li.nav-item
                a.nav-link(href='#') &Kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy;&ycy;
            li.nav-item
                a.nav-link(href='#') &Zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&softcy;&iecy;
            li.nav-item
                a.nav-link(href='#') &Rcy;&iecy;&mcy;&ocy;&ncy;&tcy;